<!DOCTYPE html>

<html>

<head>
    {{>header}}
    <title>管理画面</title>
    <meta charset="UTF-8">
</head>

<body>
    <header>
        <h1>管理画面</h1>
    </header>
    <br>
    <form method="post">
        <p>名前：
            <input type="text" name="name">
            <input type="submit" name="type" value="register">
        </p>
    </form>
    <form method="post">
        <p>
            <select name="wolf">
                <option value="1" selected>ウルフは1人</option>
                <option value="2">ウルフは2人</option>
                <option value="3">ウルフは3人</option>
            </select>
            <input type="submit" name="type" value="allocate">
        </p>
    </form>
    <p>
        人間: <font color="white">{{theme1}}</font>
    </p>
    <p>
        ウルフ: <font color="white">{{theme2}}</font>
    </p>
    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Role</th>
            <th>Delete</th>
        </tr>
        {{#each arrPersons as | val key |}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.name}}</td>
            <td>
                <font color="white">
                    {{#if this.isWolf}}
                    オオカミ
                    {{else}}
                    人間
                    {{/if}}
                </font>
            </td>
            <td>
                <form method="post" action="/user/{{this.id}}?_method=DELETE">
                    <input type="submit" value="delete">
                </form>
            </td>
        </tr>
        {{/each}}
    </table>
    <br>
    <br>
    <br>
    <br>
    <form method="post">
        <button class="btn" name="type" value="top">
            TOPページへ
        </button>
    </form>
</body>

</html>