<!DOCTYPE html>

<html>

<head>
    {{>header}}
    <title>管理画面</title>
    <meta charset="UTF-8">
</head>

<body>
    <h1>{{pageTitle}}</h1>
    <form method="post">
        <p>名前：
            <input type="text" name="name">
            <input type="submit" name="type" value="register">
        </p>
    </form>
    <form method="post">
        <p>
            <select name="wolf">
                <option value="1" selected>ウルフは1人</option>
                <option value="2">ウルフは2人</option>
                <option value="3">ウルフは3人</option>
            </select>
            <input type="submit" name="type" value="allocate">
        </p>
    </form>
    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Theme</th>
            <th>Delete</th>
        </tr>
        {{#each arrPersons as | val key |}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.name}}</td>
            <td>{{this.theme}}</td>
            <td>
                <form method="post">
                    <input type="hidden" name="name" value="{{this.name}}">
                    <input type="submit" name="type" value="delete">
                </form>
            </td>
        </tr>
        {{/each}}
    </table>
</body>

</html>